<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="log_path" source="logging.file.path"/>
    <springProperty scope="context" name="instance" source="app.instance"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} [%property{instance}] %magenta([%thread]) %highlight(%5level) %yellow([%X{requestId}]) %cyan(%logger) - %msg%n%rEx{10} </pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/sftPay.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>sns.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>

            <customFields>{"instance":"${instance}"}</customFields>

            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>10</maxDepthPerThrowable>
            </throwableConverter>

            <fieldNames>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>


    <springProfile name="local, dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>